
DevolucaoMercadoriaIntegracaoBPEL/SOA/SCA-INF/DevolucaoMercadoriaIntegracaoBPEL.diagram.jpg

DevolucaoMercadoriaIntegracaoBPEL/SOA/SCA-INF/DevolucaoMercadoriaIntegracaoBPEL.diagram.jpg

DevolucaoMercadoriaIntegracaoBPEL/SOA/SCA-INF/DevolucaoMercadoriaIntegracaoBPEL.diagram.jpg

DevolucaoMercadoriaIntegracaoBPEL/SOA/SCA-INF/DevolucaoMercadoriaIntegracaoBPEL.diagram.xml

DevolucaoMercadoriaIntegracaoBPEL/SOA/SCA-INF/DevolucaoMercadoriaIntegracaoBPEL.diagram.jpg

PontualInventarioIntegracaoBPEL/SOA/SCA-INF/PontualInventarioIntegracaoBPEL.diagram.xml

DevolucaoMercadoriaIntegracaoBPEL/SOA/SCA-INF/DevolucaoMercadoriaIntegracaoBPEL.diagram.xml

*.jpg

*.xml

*.xml

*.xml

*.jpg

DevolucaoMercadoriaIntegracaoBPEL/SOA/BPEL/NotificarDevolucaoMercadoriaBPELProcess.bpel
